:root {
	--midnight:rgb(18,41,71);
	--lt-midmight:rgb(16,53,95);
}

html, body {
	padding: 0px;
	margin: 0px;
}
.navbar {
	display: inline;
	text-transform: uppercase;
	height: 10vh;
	background-color: white;
	/*position: fixed;
	top:0px;*/
}

a {
	color:black;
	text-decoration: none;
	font-family: 'Questrial', sans-serif;
}

li {
	float: left;
	list-style-type: none;
}

li a {
	display: block;
	text-align: center;
	padding: 40px 10px 45px;
}

li a:hover {
	font-weight: bold;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: var(--midnight);
}

p {
	font-family: 'Poppins', sans-serif;
	color: var(--lt-midmight);
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.mark-logo{
	height:80px;
}

#bloompic {
	background-image: url("bloom.jpg");
	background-size: cover;
	height: 100vh;
}

#intro {
	text-align: left;
	font-size: x-large;
	margin-left: 135px;
}

.container25 {
	width: 25%;
	clear: both;
}
.container35 {
	width: 35%;
	clear: both;
}

.button {
	background-color: white;
	padding: 22px 30px;
	border-radius: 3px;
	font-size: 11pt;
	font-family: 'Questrial', sans-serif;
	width: 123px;
}

.button:hover {
	background-color: var(--midnight);
	color: white;
}