:root {
	--midnight:rgb(18,41,71);
	--lt-midmight:rgb(16,53,95);
}

html, body {
	padding: 0px;
	margin: 0px;
}
.navbar {
	display: inline;
	text-transform: uppercase;
	height: 10vh;
	background-color: white;
	/*position: fixed;
	top:0px;*/
}

a {
	color:black;
	text-decoration: none;
	font-family: 'Questrial', sans-serif;
}

li {
	float: left;
	list-style-type: none;
}

li a {
	display: block;
	text-align: center;
	padding: 40px 10px 45px;
}

li a:hover {
	font-weight: bold;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: var(--midnight);
}

p {
	font-family: 'Poppins', sans-serif;
	color: var(--lt-midmight);
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.mark-logo{
	height:80px;
}

#bloompic {
	background-image: url("https://dr6b2l874r4si.cloudfront.net/inbloom-d-home-atf-2x-01_n.jpg");
	background-size: cover;
	height: 110vh;
	background-position:center;
}

#intro {
	font-size: x-large;
	width:35vw;
	padding:220px 100px;
}

#intro a{
	max-width:25%;
}

.container25 {
	width: 25%;
	clear: both;
}
.container35 {
	width: 35%;
	clear: both;
}

.button {
	background-color: white;
	padding: 22px 30px;
	border-radius: 3px;
	font-size: 11pt;
	font-family: 'Questrial', sans-serif;
	/*width: 123px;*/
	color: var(--midnight);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}

.button:hover {
	background-color: var(--midnight);
	color: white;
}

#chat {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: white;
	color: var(--midnight);
	border-radius: 10px 10px 0px 10px;
	transition: all 0.35s;
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);*/
}

#chat:hover {
	transform: rotate(12deg);
	padding: 25px 35px;
}